Q.No-01    What is a database? Differentiate between SQL and NoSQL databases.

Ans :-

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval management and manipulation of data. It provides a way to store organize and manage large amounts of data for various purposes.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems each with its own characteristics and use cases. Here a brief differentiation between SQL and NoSQL databases:

1.	Data Model:
 
   *      SQL databases use a relational data model where data is organized into tables with predefined schemas and relationships between tables.
 
   *      NoSQL databases use various data models like key-value document columnar or graph allowing for more flexible and dynamic data structures.

2.	Schema:
 
   *      SQL databases require a predefined schema where the structure of the data is defined before data insertion. Any changes to the schema often require altering the database structure.
 
   *      NoSQL databases are schema-less meaning that the data can be stored without a predefined schema allowing for more flexibility and agility in data storage and modifications.

3.	Scalability:
 
   *      SQL databases are generally vertically scalable meaning they are designed to work well on a single server with increased hardware resources.
 
   *      NoSQL databases are horizontally scalable which means they can distribute the data across multiple servers and handle large amounts of traffic and data by adding more machines to the system.

4.	Query Language:
 
   *      SQL databases use SQL as the standard query language for defining and manipulating the data stored in them.
 
   *      NoSQL databases may or may not use SQL. Some NoSQL databases have their own query languages while others use APIs or query methods specific to the chosen data model.

    SQL Example   :

1.      Create Database -

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists E_Commerce")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89ECCC0D0>

   2.      Create Table -

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists E_Commerce.Customer_Details (customer_id INT PRIMARY KEY,name VARCHAR(50),email VARCHAR(100))")
mycursor.execute("CREATE TABLE if not exists E_Commerce.Orders (order_id INT ,customer_id INT,order_date DATE,total_amount DECIMAL(10, 2))")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89ECCC2B0>

   3.      Insert Data -

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO E_Commerce.Customer_Details VALUES (1, 'John Doe', 'john.doe@example.com')")
mycursor.execute("INSERT INTO E_Commerce.Orders VALUES (1, 1, '2023-07-08', 100.00)")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89ED975E0>

   4.      Query to Check Customer Details -

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="E_Commerce"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM Customer_Details")
for i in mycursor.fetchall():
  print(i)
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89ECCC220>
(1, 'John Doe', 'john.doe@example.com')

   5.      Query to Check Orders Details -

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="E_Commerce"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM Orders")
for i in mycursor.fetchall():
  print(i)
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89ED97820>
(1, 1, datetime.date(2023, 7, 8), Decimal('100.00'))

    NoSQL in Python Step by Step Example   :

   1.      Install Required Module -

In [18]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (4.4.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (from pymongo) (2.3.0)

WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\HP\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

   2.      Connect to MongoDB database -

In [31]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://Ankitkumar8544:Ankitkumar8544@cluster0.lyaawqr.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

   3.      Create database -

In [32]:
db = client['E_Commerce']

   4.      Create collection under database -

In [33]:
Customers_collection = db['Customer_Detail']
Orders_collection = db['Orders_Detail']

   5.      Insert data -

In [34]:
Customer_document = {
    'customer_id': 1,
    'name': 'John Doe',
    'email': 'john.doe@example.com'
}
Customers_collection.insert_one(Customer_document)

Order_document = {
    'order_id': 1,
    'customer_id': 1,
    'order_date': '2023-07-08',
    'total_amount': 100.00
}
Orders_collection.insert_one(Order_document)

   5.      To see some Basic Details like Customer Name, Order Date and Amount of Order -

In [35]:
for i in Customers_collection.find():
    print("Customer Name = ",i['name'])
for y in Orders_collection.find():
    print("Order Date = ",y['order_date'])
    print("Amount of Order = ",y['total_amount'])

Customer Name =  John Doe
Order Date =  2023-07-08
Amount of Order =  100.0

------------------------------------------------------------------------------------------------------------

Q.No-02    What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans :-

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects, such as tables, indexes, and views. DDL statements are used to create, alter, and drop these database objects.

In Python's MySQL module, you can execute DDL statements using the `execute()` method provided by the MySQL connector. Let's go through each DDL statement and provide an example for each using the Python MySQL module.

1. CREATE:The CREATE statement is used to create a new table, view, index, or other database objects. Here's an example of creating a table named "users" with three columns (id, name, and email) using the Python MySQL module:

    *      Create Database -

In [37]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()

# Create Database
mycursor.execute("CREATE DATABASE if not exists Google_Company")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F3099D0>

    *      Create Table -

In [39]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()

# Create Table
mycursor.execute("CREATE TABLE Google_Company.Employees (Employer_Id INT PRIMARY KEY AUTO_INCREMENT,Employee_Name VARCHAR(100),Employer_Email_Id VARCHAR(100))")
mycursor.execute("CREATE TABLE Google_Company.users (id INT PRIMARY KEY AUTO_INCREMENT,name VARCHAR(100) ,email VARCHAR(100))")
mycursor.execute("CREATE TABLE Google_Company.users2 (id INT PRIMARY KEY AUTO_INCREMENT,name VARCHAR(100) ,email VARCHAR(100))")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F1C5700>

2. DROP:The DROP statement is used to remove an existing table, view, index, or other database objects. Here's an example of dropping the "users" table:

In [40]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE Google_Company.users")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89E9FE7F0>

3. ALTER:The ALTER statement is used to modify an existing table's structure, such as adding or removing columns. Here's an example of adding a new column named "age" to the "users" table:

In [42]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE Google_Company.Employees ADD COLUMN Date_of_Joining DATE")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F3164C0>

4. TRUNCATE:The TRUNCATE statement is used to remove all rows from a table, effectively emptying it while keeping the table structure intact. Here's an example of truncating the "users" table:

In [43]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE Google_Company.users2")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F32C6A0>

----------------------------------------------------------------------------------------------------------------

Q.No-03    What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans :-

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manage data within a relational database. It consists of three main statements: INSERT, UPDATE, and DELETE.

1. INSERT statement: It is used to add new records to a table. Here's an example of how to use the INSERT statement with the Python MySQL module:

Note :-     Firstly Create Database or Table to Add your Record/Data in a Table -

    *    Creating Database

In [45]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists TataMotors_Company")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F32CDC0>

    *    Creating Table

In [47]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE TataMotors_Company.employees (Name VARCHAR(100), Age INT)")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F305C40>

    *    Inserting Data

In [48]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO TataMotors_Company.employees VALUES ('John Doe', 30)")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F305820>

2. UPDATE statement: It is used to modify existing records in a table. Here's an example of how to use the UPDATE statement with the Python MySQL module:

In [49]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
name = 'John Doe'
new_age = 99

# Execute the UPDATE statement
sql = "UPDATE TataMotors_Company.employees SET age = %s WHERE name = %s"
values = (new_age, name)
mycursor.execute(sql, values)
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F590610>

3. DELETE statement: It is used to remove records from a table. Here's an example of how to use the DELETE statement with the Python MySQL module:

In [51]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="TataMotors_Company"
)
print(mydb)
mycursor = mydb.cursor()
name = 'John Doe'

# Execute the UPDATE statement
sql = "DELETE FROM employees WHERE name = %s"
values = (name,)
mycursor.execute(sql, values)
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F2F76A0>

----------------------------------------------------------------------------------------------------------------

Q.No-04    What is DQL? Explain SELECT with an example.

Ans :-

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and manipulate data from a relational database. DQL provides various commands and syntax to perform queries, which allow you to retrieve specific information from database tables.

The SELECT statement is the most commonly used command in DQL, used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve and the conditions for filtering the data.

Here's an example of a SELECT statement:

    *    Creating Database

In [52]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Company")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F316970>

    *    Creating Table

In [53]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Company.employees (EmployeeID INT PRIMARY KEY,Name VARCHAR(50),Department VARCHAR(50),Salary DECIMAL(10, 2))")
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89F2F7DC0>

    *    Inserting Data

In [54]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO Company.employees VALUES (1, 'John Doe', 'Sales', 60000)")
mycursor.execute("INSERT INTO Company.employees VALUES (2, 'Jane Smith', 'Sales', 55000)")
mycursor.execute("INSERT INTO Company.employees VALUES (3, 'Michael Johnson', 'Marketing', 70000)")
mycursor.execute("INSERT INTO Company.employees VALUES (4, 'Sarah Williams', 'Sales', 52000)")
mycursor.execute("INSERT INTO Company.employees VALUES (5, 'David Brown', 'Sales', 48000)")
mycursor.execute("INSERT INTO Company.employees VALUES (6, 'Emily Davis', 'HR', 60000)")
mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89E9FE6D0>

    *    Query

In [56]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
Department = 'Sales'

# Execute the UPDATE statement
sql = "SELECT Name FROM Company.employees WHERE Salary > 50000 AND Department = %s"
values = (Department,)
mycursor.execute(sql, values)
for i in mycursor.fetchall():
    print("Employee Name :- ",i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C89E675220>
Employee Name :-  ('John Doe',)
Employee Name :-  ('Jane Smith',)
Employee Name :-  ('Sarah Williams',)

----------------------------------------------------------------------------------------------------------------

Q.No-05    Explain Primary Key and Foreign Key.

Ans :-

A primary key and a foreign key are two important concepts in relational database design. They are used to establish relationships between tables and ensure data integrity. Here's an explanation of each term:

1. Primary Key:
A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It provides a way to ensure that each row in the table is uniquely identifiable. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. In other words, no two rows in the table can have the same primary key value.

The primary key has the following characteristics:
- Uniqueness: Each value in the primary key column(s) must be unique, allowing for the identification of each row.
- Non-nullability: The primary key column(s) cannot contain null values, as null values are not considered unique.


2. Foreign Key:
A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a link or relationship between two tables by referencing the primary key of the referenced table. The foreign key constraint ensures that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table or are null.

The foreign key has the following characteristics:
- Referential integrity: The values in the foreign key column(s) must match the values in the primary key column(s) of the referenced table or be null.
- Relationship establishment: The foreign key establishes relationships between tables, allowing for data retrieval and enforcing data integrity.

-------------------------------------------------------------------------------------------------------------------------------------------------

Q.No-06    Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans :-

    *    To connect MySQL in Python -

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="Company"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM employees")
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000201A7D629D0>
(1, 'John Doe', 'Sales', Decimal('60000.00'))
(2, 'Jane Smith', 'Sales', Decimal('55000.00'))
(3, 'Michael Johnson', 'Marketing', Decimal('70000.00'))
(4, 'Sarah Williams', 'Sales', Decimal('52000.00'))
(5, 'David Brown', 'Sales', Decimal('48000.00'))
(6, 'Emily Davis', 'HR', Decimal('60000.00'))

1. `cursor()` method:
   - The `cursor()` method is called on a database connection object to create a cursor object. The cursor serves as a control structure that allows you to execute SQL statements and retrieve results from the database.
   - It provides methods to execute SQL queries, fetch data, and perform various operations on the database.
   - To create a cursor object, you need an active connection to the MySQL database. You can establish a connection using the `connect()` method of the `mysql.connector` module.
   - Here's an example of creating a cursor object:

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="Company"
)
print(mydb)
# Create a cursor object
mycursor = mydb.cursor()

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000201A7D62E80>

2. `execute()` method:
   - The `execute()` method is called on a cursor object to execute SQL queries or statements.
   - It takes an SQL query as a parameter and executes it on the connected MySQL database.
   - The `execute()` method can handle both parameterized queries and simple queries.
   - For parameterized queries, you can pass values as placeholders in the SQL statement and provide the actual values using a tuple or dictionary.
   - Here's an example of using the `execute()` method to execute an SQL query:

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@",
  database="Company"
)
print(mydb)
# Create a cursor object
mycursor = mydb.cursor()
Department = 'Sales'

Query = "SELECT * FROM employees WHERE Department = %s"
values = (Department,)
# Execute an SQL query
mycursor.execute(Query, values)
for i in mycursor.fetchall():
    print(i)

mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000201A9503C10>
(1, 'John Doe', 'Sales', Decimal('60000.00'))
(2, 'Jane Smith', 'Sales', Decimal('55000.00'))
(4, 'Sarah Williams', 'Sales', Decimal('52000.00'))
(5, 'David Brown', 'Sales', Decimal('48000.00'))

   - Additionally, the `execute()` method can be used to execute other types of SQL statements, such as INSERT, UPDATE, DELETE, etc.
   - If the query modifies the database, you need to commit the changes using the `commit()` method of the connection object.

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ankit_8544@"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO Company.employees VALUES (7, 'Elon Musk', 'HR', 60000)")

mydb.commit()
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020B443ABB50>

   - After executing the query, you can retrieve the results using methods like `fetchone()`, `fetchall()`, etc., provided by the cursor object.

                                                        END